<div class="container">
  <div>
    <label>Search</label>
    <input type="text" />
    <button type="button" style="background-color: yellowgreen; border-color: black; border-radius: 5px;" ><a routerLink="addjob">Add Job</a></button>
  </div>

  <div class="mt-6">
    <h2 style="margin-top: 30px; color: red">Jobs</h2>
    <table class="center" style="border-style: groove;">
      <thead class="thead">
        <tr>
          <th>Office</th>
          <th>Location</th>
          <th>Department</th>
          <th>Job Title</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ABS  isl</td>
          <td>Islamabad</td>
          <td>software</td>
          <td>Developer</td>
          <td ><button type="button" style="color: white; background-color: green; border-radius: 5px; border-color: green;">Edit</button></td>
          <td ><button type="button" style="background-color: red; color: white; border-radius: 5px;  border-color:red;">Delete</button></td>
          <td><button type="button" style="border-radius: 5px; background-color: blue; border-color: blue;"><a routerLink="register" style="color: white;">Apply</a></button></td>
          
        </tr>
      </tbody>
    </table>
  </div>
</div>
