.container{
    text-align: center;
    margin: 20px;
}
input{
    margin: 5px;
    width: 30%;
}
button{
    background-color:cornflowerblue;
    border-radius: 2px;
    border-color: whitesmoke;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
table{
    width: 50%;
}