<h1 style="text-align: center; color: red; margin: 30px;">Application Records</h1>
<div style="text-align: center;">
  <table class="center" style="border-style: groove;">
    <thead class="thead">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone No.</th>
        <th>Address</th>
        <th>Degree</th>
        <th>School</th>
        <th>Achievement</th>
        <th>Experiance</th>
      </tr>
    </thead>
    <tbody class="tbody">
        <tr>
            <td>Ali</td>
            <td>Ali@gmail.com</td>
            <td>2132132165654</td>
            <td>afsgb</td>
            <td>BSE</td>
            <td>asddsa</td>
            <td>saddsaddddd</td>
            <td>2</td>
            <td><button type="button" style="background-color: red;border-radius: 5px;">Delete</button></td>
        </tr>
    </tbody>
  </table>
</div>
